@import url(./global/global.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);

/* MENU */
@import url(./global/header.css);

/* UTILIDADES */
@import url(./utilidades/componentes.css);

/* HOME */
@import url(./home/introducao.css);
