body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1160px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  font-size: 1.125rem;
  position: relative;
}

.header-menu a:after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu {
    gap: 20px;
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
