body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
ul,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
