.introducao-bg {
  background: #000;
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-bottom: 40px;
  }
  .introducao img {
    width: 100%;
    height: 300px;
  }
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
}
